<mat-toolbar class="fixed-header" id="app-header">
  <mat-toolbar-row>
    <!-- <div class="event-image"></div> -->

    <!-- <div fxLayout class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap.xs="0"
       [fxFlex.xs]="100"
       [fxFlex.sm]="100"
       fxFlex.md="960px"
       fxFlex.lg="1100px"> -->

    <span (click)="goHome(); goHomeGA()" class="hover">
      <!-- <img class="app-logo" src="/assets/events_app_logo.svg"/> -->
      <span class="app-name">EventsApp</span>
    </span>
    <span class="spacer"></span>

    <!-- Private Nav -->

      <!-- public nav -->
      <!-- <div *ngIf="!auth.isAuthenticated()">
        <a class='app-font-weight' mat-button color="primary" (click)="auth.login()">Sign up</a>
        <a class='app-font-weight' mat-raised-button color="primary" (click)="auth.login()">Log in</a>
      </div> -->
      <!-- <a *ngIf="isViewPage()" class='app-button-raised' mat-button color="primary">Share</a> -->
      <!-- <a *ngIf="isViewPage()" class='app-button' mat-button color="primary" (click)="goHome()">About</a> -->

      <mat-icon class='app-button icon-button header-button' (click)="openCreateDialog(); googleAnalytics()">add_circle_outline</mat-icon>

    <!-- </div> -->


  </mat-toolbar-row>
</mat-toolbar>
