<div id="create-dialog">

  <div class="close-dialog" [fxLayout]="direction" fxLayoutAlign="end">
    <button mat-icon-button mat-dialog-close fxFlexAlign="end">
      <mat-icon aria-label="">close</mat-icon>
    </button>
  </div>

  <div fxLayout="column" class="create-title">
    <h1>Create</h1>
    <p>Set up a new event & share with friends</p>
  </div>

  <form class="example-form">
    <mat-form-field class="input-full-width">
      <mat-icon class="form-icon" matPrefix>note_add</mat-icon>
      <input matInput placeholder="event name">
    </mat-form-field>

    <mat-form-field *ngIf="extraOptions" class="input-full-width">
      <mat-icon class="form-icon" matPrefix>create</mat-icon>
      <textarea matTextareaAutosize matInput placeholder="description"></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="extraOptions" class="input-full-width">
      <mat-icon class="form-icon" matPrefix>location_on</mat-icon>
      <input matInput placeholder="location">
    </mat-form-field>

    <div fxLayout="row">
      <mat-form-field fxFlex="50" class="input-full-width">
        <mat-icon class="form-icon" matPrefix>date_range</mat-icon>
        <input matInput [matDatepicker]="picker" placeholder="from">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="50" class="input-full-width">
        <input matInput [matDatepicker]="picker2" placeholder="to">
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="50" class="input-full-width">
        <mat-icon class="form-icon" matPrefix>av_timer</mat-icon>
        <input matInput [matDatepicker]="picker3" placeholder="starting">
        <mat-datepicker-toggle matSuffix [for]="picker3">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker3></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="50" class="input-full-width">
        <input matInput [matDatepicker]="picker4" placeholder="until">
        <mat-datepicker-toggle matSuffix [for]="picker4">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker4></mat-datepicker>
      </mat-form-field>
    </div>

    <div *ngIf="extraOptions" class="create-checkbox" fxLayout="row" fxLayoutAlign="center center">
      <mat-checkbox>all day event</mat-checkbox>
    </div>


    <div class="form-actions" fxLayout="row" fxLayoutAlign="center center">
      <button *ngIf="!extraOptions" class="app-button" mat-button color="primary" (click)="openOptions()">more options</button>
      <button *ngIf="extraOptions" class="app-button" mat-button color="primary" (click)="closeOptions()">less options</button>
      <button class="app-button-raised" mat-raised-button color="primary">Finish</button>
    </div>

  </form>

  <div fxLayout="row" class="disclaimer-container">
    <p *ngIf="!disclaimerFlag" fxFlex class="disclaimer disclaimer-ellipsis">
      Disclaimer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id nisi vel velit scelerisque ullamcorper ut a magna. Nullam libero felis, vulputate at blandit ac, volutpat eget metus. Aliquam hendrerit eu magna eu commodo. Maecenas ut urna in nunc lacinia luctus. Etiam id diam nec purus consequat porta. Ut dictum sapien ut pharetra dapibus. Proin hendrerit eget lectus sed laoreet. Phasellus maximus sodales pellentesque. Sed tempus felis et fringilla posuere. Cras maximus diam elit, quis pretium dolor varius a. Cras viverra eros in blandit pretium.
    </p>
    <p *ngIf="disclaimerFlag" class="disclaimer">
      Disclaimer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id nisi vel velit scelerisque ullamcorper ut a magna. Nullam libero felis, vulputate at blandit ac, volutpat eget metus. Aliquam hendrerit eu magna eu commodo. Maecenas ut urna in nunc lacinia luctus. Etiam id diam nec purus consequat porta. Ut dictum sapien ut pharetra dapibus. Proin hendrerit eget lectus sed laoreet. Phasellus maximus sodales pellentesque. Sed tempus felis et fringilla posuere. Cras maximus diam elit, quis pretium dolor varius a. Cras viverra eros in blandit pretium.
    </p>
    <mat-icon class="disclaimer-logo" fxFlex="30px" matDatepickerToggleIcon>security</mat-icon>
  </div>

  <a class="disclaimer-link" *ngIf="!disclaimerFlag" (click)="openDisclaimer()">read more</a>
  <a class="disclaimer-link" *ngIf="disclaimerFlag" (click)="closeDisclaimer()">read less</a>

  <p>&nbsp;</p>

</div>
