<div id="create-dialog">

  <div class="close-dialog" fxLayoutAlign="end">
    <button mat-icon-button mat-dialog-close fxFlexAlign="end">
      <mat-icon aria-label="">close</mat-icon>
    </button>
  </div>

  <div fxLayout="column" class="create-title">
    <h1>Create</h1>
    <p>Set up a new event & share with friends</p>
  </div>

  <form #createEvent="ngForm" class="create-form" (ngSubmit)="onSubmit(createEvent)">
    <mat-form-field class="input-full-width">
      <mat-icon class="form-icon" matPrefix>note_add</mat-icon>
      <input required
        [(ngModel)]="event.name"
        name="name" id="event-name"
        class="datetime-input"
        matInput placeholder="event name">
      <!-- <mat-error *ngIf="createFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field *ngIf="extraOptions" class="input-full-width">
      <mat-icon class="form-icon" matPrefix>create</mat-icon>
      <textarea [(ngModel)]="event.description" name="description"  id="event-description" matTextareaAutosize matInput placeholder="description"></textarea>
    </mat-form-field>

    <mat-form-field [hidden]="!extraOptions" class="input-full-width">
      <mat-icon id="location" class="form-icon" matPrefix>location_on</mat-icon>
      <!-- <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"> -->
      <input #search [formControl]="searchControl" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" [(ngModel)]="event.location_string" name="location_string" matInput placeholder="location">
    </mat-form-field>

    <div fxLayout="row">
      <mat-form-field fxFlex="50" class="input-full-width">
        <mat-icon class="form-icon" matPrefix>date_range</mat-icon>
        <input required fxHide fxShow.gt-xs="true"
          [(ngModel)]="event.start_date"
          name="start_date" id="event-start-date"
          class="datetime-input" matInput [matDatepicker]="picker"
          placeholder="from" (click)="picker.open()"
          readonly="true">
          <input required fxShow fxShow.gt-xs="false"
            [(ngModel)]="event.start_date"
            type="date"
            name="start_date" id="event-start-date"
            class="datetime-input" matInput
            placeholder="from">

        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="50" class="input-full-width">
        <input fxHide fxShow.gt-xs="true" [(ngModel)]="event.end_date" name="end_date" id="event-end-date" class="datetime-input" matInput [matDatepicker]="picker2" placeholder="to" (click)="picker2.open()" readonly="true">
        <input fxShow fxShow.gt-xs="false" [(ngModel)]="event.end_date"
          type="date"
          name="end_date" id="event-end-date" class="datetime-input"
          matInput placeholder="to">
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="50" class="input-full-width">
        <mat-icon class="form-icon" matPrefix>av_timer</mat-icon>
        <input fxHide fxShow.gt-xs="true"
          required id="event-start-time" class="datetime-input unstyled"
          (click)="openTime('start_time')"
          [(ngModel)]="event.start_time"
          name="start_time"
          matInput placeholder="starting"
          readonly="true">
          <input fxShow fxShow.gt-xs="false"
            required id="event-start-time" class="datetime-input unstyled"
            type="time"
            [(ngModel)]="event.start_time"
            name="start_time"
            matInput placeholder="starting">
      </mat-form-field>

      <mat-form-field fxFlex="50" class="input-full-width">
        <input fxHide fxShow.gt-xs="true"
          class="datetime-input unstyled"
          (click)="openTime('end_time')"
          [(ngModel)]="event.end_time"
          name="end_time"
          matInput placeholder="until"
          readonly="true">
          <input fxShow fxShow.gt-xs="false"
            class="datetime-input unstyled"
            type="time"
            [(ngModel)]="event.end_time"
            name="end_time"
            matInput placeholder="until">
      </mat-form-field>
    </div>

    <div *ngIf="extraOptions" class="create-checkbox" fxLayout="row" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="event.all_day" name="all_day" >all day event</mat-checkbox>
    </div>


    <div class="form-actions" fxLayout="row" fxLayoutAlign="center center">
      <button *ngIf="!extraOptions" class="app-button" mat-button color="primary" (click)="openOptions(); moreInfoGA">more options</button>
      <button *ngIf="extraOptions" class="app-button" mat-button color="primary" (click)="closeOptions()">less options</button>
      <button *ngIf="validForm()" type="submit" class="app-button-raised" mat-raised-button color="primary">Finish</button>
      <button *ngIf="!validForm()" type="submit" mat-raised-button color="primary" disabled>Finish</button>
    </div>



  </form>

  <div fxLayout="row" class="disclaimer-container">
    <p *ngIf="!disclaimerFlag" fxFlex class="disclaimer disclaimer-ellipsis">
        Disclaimer: The information contained on https://www.eventsapp.co.uk website and EventsApp mobile app (the "Service") is for general information purposes only.

        EventsApp assumes no responsibility for errors or omissions in the contents on the Service.

        In no event shall EventsApp be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. EventsApp reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.
    </p>
    <div *ngIf="disclaimerFlag" class="disclaimer">
      <p>
        Disclaimer: The information contained on https://www.eventsapp.co.uk website and EventsApp mobile app (the "Service") is for general information purposes only.
      </p>
      <p>
        EventsApp assumes no responsibility for errors or omissions in the contents on the Service.
      </p>
      <p>
        In no event shall EventsApp be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. EventsApp reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.
      </p>
    </div>
    <mat-icon class="disclaimer-logo" fxFlex="30px" matDatepickerToggleIcon>security</mat-icon>
  </div>

  <a class="disclaimer-link" *ngIf="!disclaimerFlag" (click)="openDisclaimer()">read more</a>
  <a class="disclaimer-link" *ngIf="disclaimerFlag" (click)="closeDisclaimer()">read less</a>

  <p>&nbsp;</p>

</div>
