<div class="wrapper">

  <!-- <div class="event-image"></div> -->
<div class="bg" [ngClass]="eventImage()">

</div>

   <div fxLayout class="event-container extra-padding"
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap.xs="0"
      fxFlex.xs="100"
      fxFlex.sm="560px"
      fxFlex.md="760px"
      fxFlex.gt-md="760px">

       <div class="event-content">
          <h1 *ngIf="event" class="event-name">
            {{event.name}}
          </h1>
          <!-- event date variables -->
          <p *ngIf="event" class="event-time">
            <span *ngIf="event.start_date && event.start_time">{{prettifyDate(event.start_date)}} {{event.start_time}} </span>
            <span *ngIf="event.end_date || event.end_time">-</span>
            <span *ngIf="event.end_date"> {{prettifyDate(event.end_date)}} </span>
            <span *ngIf="event.end_time"> {{event.end_time}}</span>
          </p>

          <p></p>

           <!-- event name and type information-->
          <!-- <p fxLayout="column" class="event-type">
            <span fxLayout="row">
              Event - Public
              <mat-icon class="help-icon" matTooltip="People who know the link to this event can see it">help_outline</mat-icon>
            </span> -->
            <!-- <span class="event-organiser">Unknown organiser</span> -->
          <!-- </p> -->

          <div title="Add to Calendar" class="addeventatc">
              Calendar
              <span *ngIf="event" class="start">{{getStartDateTime()}}</span>
              <span *ngIf="event && event.end_date" class="end">{{getEndDateTime()}}</span>
              <span *ngIf="event" class="title">{{event.name}}</span>
              <span *ngIf="event" class="description">{{getCalendarDescription()}}</span>
              <span *ngIf="event && event.location" class="location">{{event.formatted_address}}</span>
              <span *ngIf="event" class="uid">{{event.event_id}}</span>
          </div>

          <button class="button-pill-like button-blue" mat-raised-button ngxClipboard [cbContent]="shareUrl" (click)='shareAlert()' color="primary">
            <span *ngIf="!copied">Copy URL</span>
            <span *ngIf="copied">Copied!</span>
          </button>
          <!-- <input type="text" class="form-control" [(ngModel)]="text1" placeholder="content will be copy after click the copy button"> -->

          <!-- <button type="submit" class="button-pill-like button-blue" mat-raised-button color="primary" (click)="likeEvent(); likeEventGA()">Like</button>

          <p>0 people like this</p> -->

           <!-- event description -->
           <p *ngIf="event && event.description && !extraDescription" fxLayout="column">
             <span>{{limitedDescription(event.description)}} <a *ngIf="largeDescription(event.description)" (click)="openDescription()" class="disclaimer-link">read more</a></span>
           </p>

           <p *ngIf="event && event.description && extraDescription" fxLayout="column">
             <span>{{event.description}} <a (click)="closeDescription()" class="disclaimer-link">read less</a></span>
           </p>

           <mat-list *ngIf="event && event.formatted_address && event.lat && event.lng && userLocation" role="list" class="directions-list">
             <mat-list-item role="listitem" (click)="getDirections(); getDirectionsGA()">
               <p class="disclaimer-ellipsis"><strong>Address: </strong>{{event.formatted_address}}</p>
               <div class="spacer"></div>
               <mat-icon>keyboard_arrow_right</mat-icon>
             </mat-list-item>
           </mat-list>

           <mat-list *ngIf="event && event.formatted_address && !event.lat && !event.lng" role="list" class="directions-list">
             <mat-list-item role="listitem">
               <p class="disclaimer-ellipsis"><strong>Address: </strong>{{event.formatted_address}}</p>
               <div class="spacer"></div>
             </mat-list-item>
           </mat-list>

           <mat-list *ngIf="event && event.formatted_address && event.lat && event.lng && !userLocation" role="list" class="directions-list">
             <mat-list-item role="listitem">
               <p class="disclaimer-ellipsis"><strong>Address: </strong>{{event.formatted_address}}</p>
               <div class="spacer"></div>
             </mat-list-item>
           </mat-list>

           <p *ngIf="event && !event.formatted_address && event.location_string">{{event.location_string}}</p>

        </div> <!-- ./event-content -->

  </div><!-- ./intro-container -->

  <div *ngIf="lat && lng" class="event-map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17" >
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>

  <div fxLayout class="event-container"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0"
     fxFlex.xs="100"
     fxFlex.sm="560px"
     fxFlex.md="760px"
     fxFlex.gt-md="760px"
     style="margin-top: -15px;">

     <mat-list *ngIf="event" role="list" class="action-list">
       <mat-list-item *ngIf="event.formatted_address && event.lat && event.lng && userLocation" role="listitem" (click)="getDirections(); getDirectionsGA()">
         <h3>Get Directions</h3>
         <div class="spacer"></div>
         <mat-icon>keyboard_arrow_right</mat-icon>
       </mat-list-item>
       <!-- <mat-list-item role="listitem" (click)="saveEvent(); saveEventGA()"> -->
       <!-- <mat-list-item role="listitem"> -->
        <!-- </mat-list-item> -->
       <!-- <mat-list-item role="listitem" (click)="openShareDialog(); shareListGA()">
          <h3>Invite Friends</h3>
          <div class="spacer"></div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item> -->
       <!-- <mat-list-item role="listitem" (click)="clicked()">
         <h3>Add to Calendar</h3>
         <div class="spacer"></div>
         <mat-icon>keyboard_arrow_right</mat-icon>
       </mat-list-item> -->
       <mat-list-item *ngIf="event.owner" role="listitem" (click)="clicked()">
         <h3>Contact Organizer</h3>
         <div class="spacer"></div>
         <mat-icon>keyboard_arrow_right</mat-icon>
       </mat-list-item>
       <mat-list-item role="listitem" (click)="reportEvent(); reportGA()">
         <h3>Report Event</h3>
         <div class="spacer"></div>
         <mat-icon>keyboard_arrow_right</mat-icon>
       </mat-list-item>
       <mat-list-item role="listitem" (click)="eventIssue(); issueGA()">
         <h3>Something Go Wrong?</h3>
         <div class="spacer"></div>
         <mat-icon>keyboard_arrow_right</mat-icon>
       </mat-list-item>
     </mat-list>
  </div>


  <div fxLayout class="event-container"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0"
     fxFlex.xs="100"
     fxFlex.sm="560px"
     fxFlex.md="760px"
     fxFlex.gt-md="760px"
     style="margin-bottom:0px;">

     <div fxLayout="row" class="disclaimer-container">
      <div  *ngIf="!disclaimerFlag" class="disclaimer disclaimer-ellipsis">
          Disclaimer: The information contained on https://www.eventsapp.co.uk website and EventsApp mobile app (the "Service") is for general information purposes only.

          EventsApp assumes no responsibility for errors or omissions in the contents on the Service.

          In no event shall EventsApp be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. EventsApp reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.
      </div>
      <div  *ngIf="disclaimerFlag" class="disclaimer">
        <p>
          Disclaimer: The information contained on https://www.eventsapp.co.uk website and EventsApp mobile app (the "Service") is for general information purposes only.
        </p>
        <p>
          EventsApp assumes no responsibility for errors or omissions in the contents on the Service.
        </p>
        <p>
          In no event shall EventsApp be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. EventsApp reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.
        </p>
      </div>
      <mat-icon class="disclaimer-logo" fxFlex="30px" matDatepickerToggleIcon>security</mat-icon>
    </div>

  </div>
  <div fxLayout class="event-container"
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap.xs="0"
     fxFlex.xs="100"
     fxFlex.sm="560px"
     fxFlex.md="760px"
     fxFlex.gt-md="760px"
     style="margin-top: 0px; margin-bottom: 25px;">

    <a class="disclaimer-link" *ngIf="!disclaimerFlag" (click)="openDisclaimer()">read more</a>
    <a class="disclaimer-link" *ngIf="disclaimerFlag" (click)="closeDisclaimer()">read less</a>
  </div>
</div><!-- ./wrapper -->
