<div class="wrapper">

  <div class="event-image">
  </div>

  <div class="intro-container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutGap.xs="0"
       [fxFlex.xs]="100"
       [fxFlex.sm]="100"
       fxFlex.md="960px"
       fxFlex.lg="1100px"
       fxLayoutAlign="center">

       <div class="event-content"
         fxFlex.xs="100"
         fxFlex.sm="100"
         fxFlex.md="60"
         fxFlex.lg="60">
        <h2>{{event.name}}</h2>
      </div>
      <div class="event-sidebar"
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="30"
        fxFlex.lg="30">
        test
      </div>
  </div>
</div>
