.event-container {
  height: 100%;
  margin: auto;
  padding: 10px;
  text-align: left;
}

.extra-padding {
  padding: 24px;
  padding-top: 34px;
  padding-bottom: 10px;
}

.intro-container {
  height: none;
  margin: auto;
  padding:10px;
  text-align: left;
  padding-bottom: 50px;
}

.event-share {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0px;
}

.event-image {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
  height: 100%;
  background-color: #D8D8D8;
  height: 100%;
  width: 100;
}

.event-map {
  width: 100%;
}

.spacer {
  flex: 1 1 auto !important;
}

.event-content {
  margin-right: 10px;
  height: 100%;
  width: 100%;
}

.event-sidebar {
  margin: 10px !important;
}

.help-icon {
  color: #D8D8D8;
  font-size: 14px;
  cursor: default;
  margin-top: 5px;
  margin-left: 5px;

}

.event-description{
  font-size: 14px;
}

.event-name {
  margin-bottom: 0px;
  margin-top: 3px;
}

.event-type {
  margin-top: 2px;
}

.event-time {
  margin-top: 15px;
  margin-bottom: 0px !important;
  font-weight: 500;
  color: black;
}

.event-map agm-map {
    height: 300px;
}

.event-location-card {
  padding: 0px;
  margin-left: 50px;
}

.event-location-card mat-card-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.event-location-card button{
  width: 100% !important;
  height: 50px;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.share-container {
  margin-bottom: 15px !important;
  margin-top: 30px !important;
}

.directions-list {
  margin-left: -15px;
  padding-top: 0px;
  padding-right: 0px !important;
  color: rgba(0,0,0,0.55);
}

.directions-list p {
  color: black !important;
  font-weight: lighter !important;
}


.directions-list mat-icon {
  padding-right: 0px !important;
  color: #B5B5B5;
  margin-right: -21px;
}

.directions-list mat-list-item:hover {
  cursor: pointer;
}

.action-list mat-list-item {
  border-bottom: 1px solid #E7E7E7 !important;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: lighter !important;
}

.action-list mat-list-item:hover {
  cursor: pointer;
}

.action-list {
  margin-bottom: 25px;
  width: 100%;
}

.action-list h3 {
  margin-bottom: 0px !important;
}

.action-list p {
  color: rgba(0,0,0,0.55);
  font-family: 'HelveticaNeue-Thin', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: lighter !important;
}

.action-list mat-icon {
  margin-top: 3px;
  color: #B5B5B5;
}

.disclaimer-container{
    width: 100%;
}

.disclaimer-logo {
  font-size: 30px;
  color: #979797;
  margin-right: 0px;
  /* margin-top: 12px; */
  margin-left: 5px;
  width: 100%;
}


.disclaimer-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.disclaimer {
  margin-bottom: 0px;
  font-size: 16px !important;
  padding-left: 10px;
  padding-right: 10px;
}

.disclaimer-link {
  padding-left: 10px;
  margin-top: -20px;
  color: #40D5C0 !important;
  cursor: pointer;
  font-size: 16px;
}

.addeventatc {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #F23C57;
  border-radius: 50px;
  padding: 15px 27px;
  font-size: 16px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: white !important;
  border: 0px !important;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-red {
  background-color: #F23C57;
}

.addeventatc /deep/ .addeventatc_icon {
  display: none !important;
}

.button-pill-like {
    border-radius: 50px !important;
    padding: 5px 16px !important;
    font-size: 14px;
    font-weight: 400;
    color: white !important;
    margin-left: 10px;
}

.button-blue {
  background-color: #3498db;
}

.bg {
    /* The image used */
    height: 200px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 67px;
    margin-top: -3px;
}

.bg-1 {
    background-image: url("https://s3.eu-west-2.amazonaws.com/eventsapp-img/abstract-art-celebration-750843-min.jpg");
}

.bg-2 {
    background-image: url("https://s3.eu-west-2.amazonaws.com/eventsapp-img/adult-face-fun-37862-min.jpg");
}

.bg-3 {
    background-image: url("https://s3.eu-west-2.amazonaws.com/eventsapp-img/alcohol-art-bottles-209620-min.jpg");
}

.bg-4 {
    background-image: url("https://s3.eu-west-2.amazonaws.com/eventsapp-img/applause-audience-band-196652-min.jpg");
}

.bg-5 {
    background-image: url("https://s3.eu-west-2.amazonaws.com/eventsapp-img/assortment-bright-candy-1043519-min.jpg");
}

.bg-6 {
    background-image: url("https://s3.eu-west-2.amazonaws.com/eventsapp-img/boxes-celebration-champagne-glasses-1050465-min.jpg");
}
