<div class="intro-container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0"
     [fxFlex.xs]="100"
     [fxFlex.sm]="100"
     fxFlex.md="960px"
     fxFlex.lg="1100px">

      <div class='marketing-section'
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="40"
        fxFlex.lg="40"
        [ngStyle.xs]="{'text-align': 'center'}">
        <h1>Simple. Easy. Events!</h1>
        <p>
          With EventsApp you can quickly create an event for any occasion and share it with friends and family at a click of a button.
        </p>
        <p>Free to use - no sign up nesscary,  Go on, get started.</p>
        <p>&nbsp;</p>
        <p>
          <button class="app-button-raised" mat-raised-button color="primary" (click)="openCreateDialog(); createEventGA()">Create Event</button>
        </p>
      </div>
      <div class='marketing-section'
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="60"
        fxFlex.lg="60">
        <!-- image for full screen -->
        <p>
          <img width="550px" class="intro-img" fxShow.sm="false" fxShow.xs="false" src="/assets/marketing-laptop.svg"/>
          <!-- image for mobile -->
          <img width="200px" class="intro-img" fxShow.lg="false" fxShow.md="false" src="/assets/marketing-phone.svg"/>
        </p>
      </div>
</div>

<div class="marketing-outer-container">

  <div class="marketing-container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap.xs="0"
       [fxFlex.xs]="100"
       [fxFlex.sm]="100"
       fxFlex.md="960px"
       fxFlex.lg="1100px">

        <div fxFlex class='marketing-section'>
          <h1>Create great events</h1>
          <p>Quickly create an event using the online form. It’s free and you can make as many as you want.</p>
        </div>
        <div fxFlex class='marketing-section'>
          <h1>Share with friends</h1>
          <p>Share your event with anyone with a click of a button via phone number, email or social network like facebook.</p>
        </div>
        <div fxFlex class='marketing-section'>
          <h1>Keep it safe</h1>
          <p>Only people you invite will be able to see your event or if you want you can make it public.</p>
        </div>
  </div>
</div>

<div class="intro-container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0"
     [fxFlex.xs]="100"
     [fxFlex.sm]="100"
     fxFlex.md="960px"
     fxFlex.lg="1100px">

      <div fxFlex class='marketing-section'
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="60">
        <!-- image for full screen -->
        <p>
          <img class="intro-img account-img" src="/assets/accounts.svg"/>
        </p>
      </div>
      <div fxFlex class='marketing-section'
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="40"
        [ngStyle.xs]="{'text-align': 'center'}">
        <!-- image for mobile -->
        <h1>Get an account</h1>
        <p>With an EventsApp account you can save your events  and invite other firends with EventsApp accounts.</p>
        <p>You can also link up other social accounts to import events!</p>
        <p>&nbsp;</p>
        <p><strong>Coming soon!</strong> we'll get this up and running as soon as possible</p>
        <p>
          <button mat-raised-button color="primary" disabled>Log in</button>
          <button mat-button color="primary" disabled>Sign up</button>
        </p>
      </div>
</div>
