
  <div class="bg">
    <div class="bg-text">
      <h1>Create and share events</h1>
      <p style="margin-top: -12px;">Free to use - no sign up nesscary. Go on, get started.</p>
      <p>
        <button class="button-pill button-red" mat-raised-button color="primary" (click)="openCreateDialog(); createEventGA()">Create event</button>
      </p>
    </div>
  </div>


<div class="marketing-outer-container">

  <div class="marketing-container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap.xs="0"
       [fxFlex.xs]="100"
       [fxFlex.sm]="100"
       fxFlex.md="960px"
       fxFlex.lg="1100px">

        <div fxFlex class='marketing-section'>
          <h1>Create great events</h1>
          <p>Quickly create an event using the online form. It’s free and you can make as many as you want.</p>
        </div>
        <div fxFlex class='marketing-section'>
          <h1>Share with friends</h1>
          <p>Share your event with anyone with a click of a button via phone number, email or social network like facebook.</p>
        </div>
        <div fxFlex class='marketing-section'>
          <h1>Keep it safe</h1>
          <p>Only people you invite will be able to see your event or if you want you can make it public.</p>
        </div>
  </div>
</div>

<div *ngIf="false" class="intro-container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0"
     [fxFlex.xs]="100"
     [fxFlex.sm]="100"
     fxFlex.md="960px"
     fxFlex.lg="1100px">

      <div fxFlex class='marketing-section'
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="60">
        <!-- image for full screen -->
        <p>
          <img class="intro-img account-img" src="/assets/accounts.svg"/>
        </p>
      </div>
      <div fxFlex class='marketing-section'
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="40"
        [ngStyle.xs]="{'text-align': 'center'}">
        <!-- image for mobile -->
        <h1 class="dark">Get an account</h1>
        <p>You can link up other social accounts to import events</p>
        <p><strong>Coming soon!</strong> we'll get this up and running as soon as possible</p>
        <br />
        <p>
          <button mat-raised-button color="primary" disabled>Log in</button>
          <button mat-button color="primary" disabled>Sign up</button>
        </p>
      </div>
</div>
