.intro-container {
  height: 100%;
  margin: auto;
  padding-bottom: 50px;
}

.marketing-section {
  height: 100%;
  padding: 50px 50px 0px 50px;
  /* font-weight: 300; */
}

.hide {
  display: none;
}


.account-img {
    width: 100%;
    max-width: 300px;
}

.marketing-outer-container {
  height: 100%;
  margin: auto;
  width: 100%;
  background-color: #40D5C0;
  padding-bottom: 65px;
  padding-top: 15px;
}


.marketing-container {
  height: 100%;
  margin: auto;
  text-align: center;
}

.marketing-container .marketing-section {
  color: white;
}

.marketing-container .marketing-section h1 {
  color: white;
}


.intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
